section {
  min-height: calc(100vh - 172px);
  background-color: #508991;
}

header {
  background-color: #75dddd;
}

footer {
  background-color: #172a3a;
}

.custom-img {
  width: 300px;
  height: auto; 
}

.footer-icons-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
}

.btn {
  margin: 1px !important;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #007bff; 
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.tech-h4 {
  margin-bottom: 2rem
}